.container{
    width: 600px;
    border: 10px solid yellow;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px auto;
}

.container div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    padding: 10px;
    margin: 5px;
}